[Unit]
Description=Label Printer Service
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/opt/brother_ql_fridgedate
ExecStart=/usr/bin/python3 /opt/brother_ql_fridgedate/print-mqtt.py

[Install]
WantedBy=multi-user.target